{% if entries %}
  {# <p>{{entries[0].text[0].paragraphText}}</p> #}
  <div class="slideshow-container fade"
    ontouchmove="handleTouchMove()"
    ontouchstart="handleTouchStart()">
    <!-- Full images with numbers and message Info -->
    {% for en in entries.all %}
      {% set first = loop.first %}
      {% include 'modules/_carouselSlide' with {
        entry: en,
        align: en.align,
        first: first
      } %}
    {% endfor %}
    <!-- Back and forward buttons -->
    {% if count > 1 %}
      <div class="Back" onclick="plusSlides(-1)">
        &#10094;
      </div>
      <div class="forward" onclick="plusSlides(1)">
        &#10095;
      </div>
      <div class="dotContainer" style="z-index: 500;">
        {% for item in entries.all() %}
          <span class="dots" onclick="currentSlide({{ loop.index }})"></span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
