{% set currentFieldSites = craft.entries.section('fieldSite').all %}
{% if not currentFieldSites == null %}
  <section>
    <div class="sectionBannerText">
      <h1>
        Field Sites
      </h1>
    </div>
    <div class="currentProjects">
      {% for fieldSite in currentFieldSites %}
        <div id="{{ fieldSite.slug }}">
          {{
            sprig(
              'modules/_FieldSite',
              {
                fieldSiteID: fieldSite.id,
                fieldSiteSlug: fieldSite.slug
              }
            )
          }}
        </div>
        {# {{ sprig.script }} #}
      {% endfor %}
    </div>
  </section>
{% endif %}
