{% set allCategories = craft.categories().group('labMemberCategory') %}
{# {% set = value %} #}
{# {% set %} #}
<h1 class="sectionTitle" id="Publications">
  Lab Members
</h1>
<!-- Post doctoral-fellows section -->
<!-- If you need to create a new section, copy the following block of code for the section and paste it before, after or between existing sections. Modify the content as necessary. -->
{% for category in allCategories %}
  {% set sectionMembers =
    labMembers.with(['labMemberProfilePicture']).relatedTo(category).all
  %}
  {# {% set sectionMembers = true %} #}
  {% if sectionMembers %}
    <section id="{{ category.slug }}">
      <div style="margin-top: 0px;" class="sectionBannerText">
        <h1>
          {{ category }}
        </h1>
      </div>
      <div class="currentLabMembers">
        {% for labMember in sectionMembers %}
          {{
            sprig(
              'modules/_labMemberProfile',
              {
                labMember: labMember.id,
                category: category.slug
              }
            )
          }}
          {{ sprig.script }}
          {# {% include 'modules/_labMemberProfile' with {
            labMember: labMember
          } %} #}
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}
