<div class="labMember" id="">
    <div class="profilePic">
        <img alt="Default profile photo." class="parallax" src="\images\About\defaultProfile.svg">
    </div>
    <div class="labMemberInfo right">
        <div class="inner intro">
            <h1>
                {# {{ name}} #}
            </h1>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia magni illo
                nemo deserunt
                dolore neque, voluptatibus natus expedita officiis fugiat, sed, quisquam est ad optio
                commodi saepe aperiam quis quo iure unde explicabo nulla earum? Quaerat impedit
                asperiores neque porro nulla quas, dolores necessitatibus, recusandae alias nesciunt
                repellat blanditiis tenetur, laboriosam enim. Sint modi totam excepturi facilis earum
                eius hic necessitatibus! Sed, quis ducimus cumque odit voluptatibus dolores labore
                maiores modi, vitae blanditiis adipisci distinctio neque illum doloremque tenetur quas
                delectus dicta animi. Impedit incidunt magnam quisquam, doloribus facere voluptates
                obcaecati fugit ad dolorum, laboriosam repudiandae quas? Molestias, odit dolorum.</p>
            <h2>Research Topic:</h2>
            <p>Research Topic placeholder</p>
            <h2>Fieldsite: </h2>
            <p>field site placeholder</p>
            <h2>Centre:</h2>
            <p>Psychology, Lethbridge</p>
        </div>
    </div>
</div>