<section>
    <div class="sectionBannerText">
        <h1>Current Projects</h1>
    </div>
    <div class="currentProjects">
        <!-- To add a new project, copy the following template (uncomment the template) and paste it below. Newer projects should appear towards the top of this section. Elements/text wrapped in * require input modification -->
        <!-- <div class="project">
          <img alt="*Image alt tag, used for accessibility and SEO. Describe the image briefly here*" class="parallax projectBackground"
            src="*path/to/image.jpg*" width="*native width of the image*"
            height="*native height of the image*">
          <div class="projectInfo minimized *right/left*" id="*unique ID*">
            <div class="expand" onclick="toggleProjectInfo('*unique ID*')">
              <div>&#10094;</div>
            </div>
            <div class="inner intro title" style="grid-column: span *1 - 6*;">
              <h1>
                *Project Name*
              </h1>
            </div>
            <div class="inner intro hidden" style="grid-column: span *1 - 6*;">
              <p>
                *Text in this section appears when the project is minimized*
              </p>
              <p>*Text in this section appears when the project is minimized. Add additional tags as necessary below*</p>
            </div>
            *Elements below this line only appear when the project is expanded. Additional blocks can be added on a project to project basis. Delete this line from the template.*
            <div class="inner hidden" style=" grid-column: *column to start* / span *number of columns to span* ; grid-row: *row to start* / span *number of rows to span*;">
              <img alt="image default text"
                src="path/to/related/image.jpg" width="*native image width*"
                height="*native image height*">
            </div>
            <div class="inner hidden" style="grid-column: 1 / span 4;">
              <p>*Text only appearing while expanded*</p>
              <p>*Text only appearing while expanded*</p>
              <p>*Text only appearing while expanded*</p>
            </div>
            <div class="buttonOuter learnMore">
              <button aria-label="Learn More" onclick="toggleProjectInfo('*unique ID*')"
                class="inner"></button>
            </div>
          </div>
        </div> -->
        <div class="project">
            <img alt="A couple of deer in an urban environment." class="parallax projectBackground"
                src="images/Home/Projects/WildlifeCoexistence/WildlifeCoexistence_background1.jpg" width="4032"
                height="3024">
            <div class="projectInfo minimized right" id="wildlife_coexistence">
                <div class="expand" onclick="toggleProjectInfo('wildlife_coexistence')">
                    <div>&#10094;</div>
                </div>
                <div class="inner intro title" style="grid-column: span 6;">
                    <h1>
                        Wildlife Coexistence
                    </h1>
                    <p class="name"><a href="/about#Joshua_Hill">Joshua Hill</a></p>
                </div>
                <div class="inner intro hidden" style="grid-column: span 4;">
                    <p>
                        Ritchie and Roser (2018) project that by 2050 the world population will rise to 9.8
                        billion with 3.1
                        billion in rural areas and 6.7 billion living in cities; that is a majority of the human
                        population
                        living in urban areas by the middle of the century. Looking at Canada specifically, 81%
                        (30,997,852) of
                        Canadians already live, as of 2021, in “urban” areas which are defined by the nation as
                        having a
                        population greater than 1000 (“Canada Urban Population 1960-2021”, 2021). With the
                        majority of the
                        population dominating urban areas, the ecosystems have been altered to fit the needs of
                        humans and
                        largely altering the biodiversity that once resided there (Gunnarsson et al., 2016).
                        Where have all of
                        the wild things gone? Do people continue to see the nature as being something that
                        exists outside of the
                        city, or themselves? Are there spaces and species of nature that are permitted to exist
                        in the urban
                        jungle and others that are not?
                    </p>
                    <p>In an effort to elucidate the attitudes and behaviors of the residents in urban centers I
                        created a
                        measurement tool (survey) that asks of questions to address issues of tolerance and
                        conflict as well as
                        preference and behavior towards urban wildlife. </p>
                </div>
                <div class="inner hidden"
                    style=" grid-column: 5 / span 2; grid-row: 2 / span 4; background-image: url('images/Home/Projects/WildlifeCoexistence/WildlifeCoexistence_related1.jpg')">
                    <img alt="A tent for completing surveys."
                        src="images/Home/Projects/WildlifeCoexistence/WildlifeCoexistence_related1.jpg" width="3120"
                        height="4160">
                </div>
                <div class="inner hidden" style="grid-column: 1 / span 4;">
                    <p>The School of Environmental Sciences (SES) at the Lethbridge College found that wildlife
                        movement
                        through the city of Lethbridge is among the top three cities in Canada. Movement of
                        wildlife is defined
                        as the locations and habitats that wildlife move within and through. These locations
                        have been measured
                        by sightings of animals in the areas and reported by citizens as well as researchers.
                        SES is
                        investigating wildlife habitat connectivity via corridors in the city and hopes to
                        better inform
                        policies pertaining to habitat connectivity. Corridors include, purposed greenspaces,
                        public parks,
                        habitat islands, boulevards, and open lawns. I am, therefore, working with SES and the
                        City of
                        Lethbridge to improve infrastructure and ecosystem management in the city. Our research
                        is important
                        because city living provides many opportunities for human-wildlife interaction, and
                        negative human
                        attitudes towards wildlife can often lead to the destruction of the natural environment
                        (Larson, et al.,
                        2016; Rupprecht, 2017). </p>
                    <p>In an effort to balance the needs of the people with the needs of the wildlife, I used
                        the UWCAS as a
                        tool to study human perceptions and help sustain and perhaps improve biodiversity. I aim
                        to disseminate
                        this data to the city council with the hope that they will be more informed on where to
                        provide
                        human-wildlife spaces that facilitate positive interactions for all participants. </p>
                    <p>I completed my research in three phases. The first phase focused on developing a valid
                        scale for
                        measuring attitudes towards wildlife in this community. I compared the validity and
                        strength of using
                        frequentist anchors and agreement anchors. I then took the more psychometrically-sound
                        instrument and
                        applied its use to our research populations. The second phase took the survey to the
                        residents of the
                        city of Lethbridge and the third phase did a multicity comparison by taking the survey
                        to the cities of
                        Calgary and Red Deer</p>
                </div>
                <div class="buttonOuter learnMore">
                    <button aria-label="Learn More" onclick="toggleProjectInfo('wildlife_coexistence')"
                        class="inner"></button>
                </div>
            </div>
        </div>
        <div class="project">
            <img alt="A children's playground." class="parallax projectBackground"
                src="images/Home/Projects/PhysicalandSocialContextsAffectingPreschoolagedChildren/background.jpeg">
            <div class="projectInfo minimized right"
                id="Physical_and_Social_Contexts_Affecting_Preschool-aged_Childrens_Motor_Variability_on_Playgrounds">
                <div class="expand"
                    onclick="toggleProjectInfo('Physical_and_Social_Contexts_Affecting_Preschool-aged_Childrens_Motor_Variability_on_Playgrounds')">
                    <div>&#10094;</div>
                </div>
                <div class="inner intro title" style="grid-column: span 6;">
                    <h1>
                        Physical and Social Contexts Affecting Preschool-aged Children's Motor Variability on
                        Playgrounds
                    </h1>
                    <p class="name"><a href="/about#Anne_Jones">Anne Jones</a></p>
                </div>
                <div class="inner intro hidden" style="grid-column: 4 / span 3; max-height: max-content;">
                    <p>
                        Our playground project aims to better understand how preschool-aged children behave on
                        playgrounds,
                        specifically in terms of their behavioural variability. Previous work has suggested the
                        variable
                        behaviour can help people learn a new skill and that variability continues to be
                        essential as we deal
                        with our complex environments. Therefore, our goal is to identify physical and social
                        contexts that may
                        encourage or constrain children's variable behaviour. Our current project will describe
                        children's
                        everyday playground behaviour (as there is little previous research looking at
                        children's specific
                        actions on playground equipment) and test how different types of playground equipment
                        affect behavioural
                        variability. Additionally, we will investigate how the presence of other children on the
                        playground and
                        the engagement of caregivers (measured by proximity and amount of verbal direction)
                        affects children's
                        willingness to perform a variety of actions. Our follow-up study will directly test the
                        role of
                        variability in skill learning.
                    </p>
                </div>
                <div class="inner hidden"
                    style="grid-column: 1 / span 3; grid-row: 2 / span 2; background-image: url('images/Home/Projects/PhysicalandSocialContextsAffectingPreschoolagedChildren/DataCollectors.jpeg'); ">
                    <img alt="Playground studiers in their natural habitat."
                        src="images/Home/Projects/PhysicalandSocialContextsAffectingPreschoolagedChildren/DataCollectors.jpeg"
                        width="3120" height="4160">
                </div>
                <div class="inner hidden" style="grid-column: 4 / span 3; grid-row: 3">
                    <p>Our playground project considers behavioural variability from a dynamical systems and
                        ecological
                        psychology perspective, in which variability is not viewed as noise to be reduced while
                        developing a
                        skill but as a feature of adaptive functioning. According to this view, skill does not
                        mean perfectly
                        matching actions to situations, but rather, skill is about appropriately adjusting one’s
                        behaviour to
                        situations (which are never identical). The idea that people use motor variability to
                        learn a new skill
                        is supported by current research, but much of this work is conducted in laboratory
                        settings where
                        reduced variability is still viewed as the ultimate goal. When we study children’s
                        variable behaviour on
                        playgrounds, we take the stance that variable environments are the rule and that, not
                        only does variable
                        behaviour help children learn motor skills, but that continued variable behaviour is
                        essential for
                        navigating environments.</p>
                    <p>As most research studying motor behaviour on playgrounds has focused on overall physical
                        activity
                        levels, we created a behavioural inventory of preschool-aged children’s motor behaviour
                        on playgrounds.
                        This inventory describes the variety of behaviours preschool-aged children perform on
                        outdoor playground
                        equipment. More specifically, we recorded behaviour as it pertained to specific pieces
                        of equipment,
                        including both the intended function and unique features of each piece of equipment.
                        From here, we can
                        assess how the type of playground equipment influences behavioural variability. In
                        addition to the
                        physical contexts of behaviour, we recorded the social contexts in which behaviours
                        occurred. By
                        recording the number of other children present and the engagement of caregivers during
                        play (proximity
                        and verbal instructions), we will be able to ask how social contexts affect behavioural
                        variability.</p>
                    <p>In addition to better understanding what children actually do on playgrounds, our study
                        contributes to
                        recent discussions on healthy amounts of risk. Playgrounds have become increasingly
                        regulated and
                        standardized within the last few decades as a result of lawsuits and parental concerns
                        over the safety
                        of playground apparatuses, despite life-threatening injuries on playgrounds being rare.
                        Such
                        over-regulation may have negative consequences for children’s development: children need
                        a healthy
                        amount of risk to learn how to navigate their environment and understand their own
                        limits. Therefore, we
                        will investigate whether caregiver engagement affects children's behavioural variability
                        (i.e., the
                        variety of actions children are willing to attempt while playing) in the first place and
                        test competing
                        hypotheses related to caregiver engagement. Do caregivers direct children's behaviour 1)
                        due to safety
                        concerns? Or do they direct children's behaviour 2) to encourage normative playground
                        behaviour?
                        Overall, our project investigates what conditions constrain or encourage variable
                        behaviour and may lead
                        to a better understand of what could be lost if we over-regulate children’s play.</p>
                    <p>The next phase of this project (in the works) will directly test the impact of
                        variability on motor
                        skill learning and explore whether variability increases the flexible use of skills
                        (i.e., applying a
                        skill to new situations).</p>
                </div>
                <div class="buttonOuter learnMore">
                    <button aria-label="Learn More"
                        onclick="toggleProjectInfo('Physical_and_Social_Contexts_Affecting_Preschool-aged_Childrens_Motor_Variability_on_Playgrounds')"
                        class="inner"></button>
                </div>
            </div>
        </div>
        <div class="project">
            <img alt="A couple of deer in an urban environment." class="parallax projectBackground"
                src="images/Home/Projects/WildlifeCoexistence/WildlifeCoexistence_background1.jpg" width="4032"
                height="3024">
            <div class="projectInfo minimized right" id="MONKE_Tracker">
                <div class="expand" onclick="toggleProjectInfo('MONKE_Tracker')">
                    <div>&#10094;</div>
                </div>
                <div class="inner intro title" style="grid-column: span 6;">
                    <h1>
                        Multi Object Non-invasive Kinaesthetic Environment (MONKE) Tracker
                    </h1>
                    <p class="name"><a href="/about#Miranda_Lucas">Miranda Lucas</a>, <a
                            href="/about#Justin_Petluk">Justin Petluk</a></p>
                </div>
                <div class="inner intro hidden" style="grid-column: span 3;">
                    <p>
                        Our lab is highly collaborative, and projects kept popping up that required a
                        computational method for
                        tracking unique individuals in video clips. To address this issue, the MONKE tracker was
                        built as the
                        foundation for other types of tracking and movement analysis research. MONKE tracker is
                        a fully
                        functional, open-source tracking program built by Justin Petluk. It’s basic
                        functionality is to track
                        individuals through space and time, allowing the user to halt and correct the tracker.
                        This is an
                        important change from other trackers that are prone to identity switches that cannot be
                        corrected. The
                        user interface also allows the user to record other information about the individual
                        that might be
                        relevant for the analysis. The more advanced side of the MONKE program has a Residual
                        Convolution Neural
                        Network (RCNN) deep learning integration, and other prediction filters that can be
                        customized based on
                        the user’s needs. We are currently preparing an evaluation for publication to
                        demonstrate MONKE’s
                        flexibility and robustness.
                    </p>
                </div>
                <div class="inner hidden"
                    style=" grid-column: 4 / span 3; grid-row: 2 / span 1; background-image: url('images/Home/Projects/MONKETracker/Tracker1.jpg')">
                    <img alt="A tent for completing surveys." src="images/Home/Projects/MONKETracker/Tracker1.jpg"
                        width="3120" height="4160">
                </div>
                <div class="inner hidden" style="grid-column: 1 / span 3;">
                    <p>MONKE was implemented in Python 3.6[] using OpenCV[] for the implementation of
                        Discriminative
                        Correlation Filter with Channel and Spatial Reliability (DCF-CSR)[], the main tracking
                        and data
                        collection method. Tensorflow[] and Mask-RCNN[] were used to implement deep learning
                        models (using
                        PixelLib’s [] library for implementation) which predict bounding boxes around an object.
                        We use a
                        pre-trained human pose model developed by Chao Li[]. Our statistical predictors used a
                        Kalman Filter[]
                        implemented by FilterPy [], as well as statistical rolling linear regression from
                        Sklearn[] with Scipy[]
                        for Pearson's Coorelation[]. These statistical filters make predictions based on
                        location and
                        acceleration of the DCF-CSR tracker.</p>
                </div>
                <div class="inner hidden"
                    style=" grid-column: 4 / span 3; grid-row: 3 / span 1; background-image: url('images/Home/Projects/MONKETracker/Tracker2.jpg')">
                    <img alt="A tent for completing surveys." src="images/Home/Projects/MONKETracker/Tracker2.jpg"
                        width="3120" height="4160">
                </div>
                <div class="buttonOuter learnMore">
                    <button aria-label="Learn More" onclick="toggleProjectInfo('MONKE_Tracker')" class="inner"></button>
                </div>
            </div>
        </div>
        <div class="project">
            <img alt="A taxidermy of a raccoon." class="parallax projectBackground"
                src="images/Home/Projects/RemoteAnimalScan/remoteAnimalScan_background1.jpg" width="4032" height="3024">
            <div class="projectInfo minimized left" id="remote_animal_scan">
                <div class="expand" onclick="toggleProjectInfo('remote_animal_scan')">
                    <div>&#10094;</div>
                </div>
                <div class="inner intro title" style="grid-column: span 6;">
                    <h1>
                        Remote Animal Scan
                    </h1>
                    <p class="name"><a href="about#Justin_Petluk">Justin Petluk</a></p>
                </div>
                <div class="inner intro hidden" style="grid-column: span 4;">
                    <p>
                        Remote Animal Scan focusses on collecting biometric information on animals remotely,
                        with the goal to be
                        used on vervet monkeys. Biometric information can include anything from the length
                        between body parts,
                        weight, and colour patterns. For this project, we use Depth Cameras to take an image of
                        the animal and
                        use Deep Learning, Computer Vision and Statistics to gather valuable information.
                    </p>
                </div>
                <div class="inner hidden" style="grid-column: 1 / span 4;">
                    <p>Remote Animal Scan is a system of software and hardware that work together to collect
                        biometric
                        information about animals. This system is being built to handle the entire process of
                        collecting,
                        cleaning, and extracting important measurements of a given animal. </p>
                </div>
                <div class="inner hidden"
                    style=" grid-column:  5 / span 2; grid-row: 2 / span 3; background-image: url('images/Home/Projects/RemoteAnimalScan/RemoteAnimalScan_Scan.png')">
                    <img alt="A raccoon scan." src="images/Home/Projects/RemoteAnimalScan/RemoteAnimalScan_Scan.png"
                        width="3120" height="4160">
                </div>
                <div class="inner hidden"
                    style=" grid-column: 1 / span 2; background-image: url('images/Home/Projects/RemoteAnimalScan/RemoteAnimalScan_Clustering.png') ">
                    <img alt="Clustering of a raccoon."
                        src="images/Home/Projects/RemoteAnimalScan/RemoteAnimalScan_Clustering.png" width="3120"
                        height="4160">
                </div>
                <div class="inner hidden"
                    style=" grid-column: 3 / span 2; height: 200px; background-image: url('images/Home/Projects/RemoteAnimalScan/RemoteAnimalScan_Pointnet2.png')">
                    <img alt="Raccoon Point net."
                        src="images/Home/Projects/RemoteAnimalScan/RemoteAnimalScan_Pointnet2.png" width="3120"
                        height="4160">
                </div>
                <div class="inner hidden"
                    style="grid-column: span 2; grid-row: span 2; background-image: url('images/Home/Projects/RemoteAnimalScan/Raccoon_Part.PNG')">
                    <img alt="Segmented raccoon part." src="images/Home/Projects/RemoteAnimalScan/Raccoon_Part.PNG"
                        width="3120" height="4160">
                </div>
                <div class="inner hidden" style="grid-column: 3 / span 4;">
                    <p>Depth cameras capture an image of a scene much like a regular camera, except the colour
                        pixels are
                        mapped onto a scene with depth points. These cameras are user friendly, and do not need
                        extensive
                        calibration. With this, we can collect unit measurements of the animals. </p>
                    <p>After this data is collected, we must process it. Since the data is easily recorded, the
                        quantity of
                        data is large. This means without automation; data extraction can be tedious and take a
                        long time. This
                        project aims to speed up this data extraction with automated methods. </p>
                </div>

                <div class="inner hidden" style="grid-column: 3 / span 4">
                    <p>The long-term goal is to develop software easy for a person to start a new project,
                        continue previous
                        projects and provide information about the data along the way, regardless of the animal
                        or the questions
                        they have.</p>
                    <p>This project's goal is also to create a foundation for new methodologies to be used in
                        this field. 3D
                        point data is used frequently in other fields such as architecture and surveying and can
                        be useful in
                        the realm of animals too. With data available to experiment with, we can help further
                        development for
                        anyone who is interested.</p>
                </div>
                <div class="buttonOuter learnMore">
                    <button aria-label="Learn More" onclick="toggleProjectInfo('remote_animal_scan')"
                        class="inner"></button>
                </div>
            </div>
        </div>
        <div class="project" id="art_gallery_intro">
            <img alt="Several pictured posted on a wall in an art gallery." class="parallax projectBackground"
                src="images\Home\Projects\GalleryAsBehaviourSetting\Miranda_IMG_3064.jpeg" width="4032" height="3024">
            <div class="projectInfo minimized right" id="art_gallery">
                <div class="expand" onclick="toggleProjectInfo('art_gallery')">
                    <div>&#10094;</div>
                </div>
                <div class="inner intro title" style="grid-column: span 4;">
                    <h1>
                        The Gallery as Behavior Setting: Art, Action, Perception
                    </h1>
                    <p class="name"><a href="about#Miranda_Lucas">Miranda Lucas</a></p>
                </div>
                <div class="inner intro hidden" style="grid-column: span 3;">
                    <p>
                        You’re standing in an art gallery, now what? Are you interested in the art around you?
                        Is it intriguing?
                        Maybe you could not care less? Are you standing there alone or surrounded by people
                        elbow to elbow? Does
                        this space make you feel like part of the elite or an outsider? None of these questions
                        are currently
                        captured when the success of art galleries are measured by curators, artists or
                        operational funding
                        agencies. Instead, a successful exhibition is considered one where attendance was high
                        and the average
                        sweep rate was low (equal to square footage of the exhibition / median visit time,
                        Serrell, 1998).
                        Although these metrics are based on behaviour they tell us very little about what people
                        do in the
                        space, what patrons find engaging, relevant and/or boring, which is becoming of
                        increasing interest
                        (i.e., Canada Council for the Arts, 2014a - c). This project will be the first to focus
                        on Canadian and
                        university art galleries, with an emphasis on the behaviour of people in the space. The
                        ultimate goal of
                        this proposed work is to provide Canadian institutions with the feedback and tools to
                        measure the level
                        of real-time engagement that galleries have with their patrons.
                    </p>
                </div>
                <div class="inner hidden" style=" grid-column: 1 / span 3; ">
                    <p>This is a major departure from previous visitor circulation research (based on Robinson,
                        1928; Melton,
                        1935; 1936) that focuses on way-finding or measuring engagement subjectively and
                        categorically as low,
                        medium or high (Yalowitx & Bronnenkant, 2009). I have partnered with four institutions
                        across Canada:
                        the Art Gallery of Alberta (AGA) in Edmonton, Art Gallery of Ontario in Toronto,
                        University of
                        Lethbridge (U of L) in Lethbridge and the McMaster Museum of Art in Hamilton, which vary
                        in size and
                        region. The data generated from these spaces will allow me to build and validate a
                        behavioural toolbox
                        using systematic ethological investigation and experimental paradigms to answer
                        questions on the: 1)
                        behaviour of patrons, with the aim of defining and measuring engagement, 2)
                        understanding the physical
                        affordances that invite entry into galleries and 3) the social affordances that
                        facilitate the viewing
                        of art in public spaces.</p>
                </div>
                <div class="inner hidden"
                    style=" grid-column: 4 / span 3; grid-row: 2 / span 2; background-image: url('images/Home/Projects/GalleryAsBehaviourSetting/Miranda_IMG_3198.jpeg');">
                    <img alt="a tetrohedron sculpture."
                        src="images/Home/Projects/GalleryAsBehaviourSetting/Miranda_IMG_3198.jpeg" width="4032"
                        height="3024">
                </div>
                <div class="inner hidden" style=" grid-column: 3 / span 4; ">
                    <p>To achieve these goals, my research is framed in terms of Behaviour Settings Theory
                        (Barker & Schoggen,
                        1973; Schoggen, 1989), which was developed by Roger Barker as a more satisfying way to
                        explain
                        children’s behaviour than the use of standardized tests. His theoretical innovation
                        enabled the
                        measurement of natural behaviour in relation to the various environmental situations one
                        encounters in
                        everyday life where the environment, both physical and social, relays important
                        information about how to
                        behave. These environments were characterized as 'behaviour settings’, which capture the
                        physical space,
                        time of day, and the standing patterns of behaviour that occur in our everyday
                        environments (e.g., the
                        grocery store or the school playground). Barker’s work revealed that a person’s
                        behaviour within a given
                        behaviour setting was more similar to that of other people than any particular
                        individual’s behaviour
                        measured across different settings, which suggests that in the moment decisions are
                        strongly influenced
                        by the environment and do not solely reflect personal motivations or traits. It is for
                        this reason that
                        my work focuses on the behaviour of individuals, as embodied and embedded in their
                        environments (Clark,
                        1996; Menary, 2010; Barrett, 2011; Noë, 2015).</p>
                    <p>The major departure point for this project is that the gallery is an inherently social
                        space, where the
                        absence of others is as significant as their presence. Here, other people, like visitors
                        and staff, add
                        to the social affordances of the space, meaning that they provide additional
                        possibilities for action
                        (Gibson, 1979). The affordances of a space can be social or physical, where a bench
                        affords the
                        possibility for sitting, an artwork the possibility for contemplation, a person the
                        possibility for
                        conversation. Any affordance has the distinct ability to prime our bodies to ready
                        themselves for
                        action, called body-action readiness (Frijda, 2007; 1986; Rietveld & Kiverstein, 2014),
                        and while some
                        affordances are positive, other elements, of the gallery space in particular, can be
                        negative. For
                        instance, the number of people in the space has the potential ability to either
                        facilitate or impede
                        looking times, where a crowd may force a person to shuffle along without pause.</p>
                </div>
                <div class="inner hidden"
                    style=" grid-column: 1 / span 2; grid-row: 4 / span 1; background-image: url('images/Home/Projects/GalleryAsBehaviourSetting/Miranda_image.png')">
                    <img alt="Tracking people in an art gallery setting."
                        src="images/Home/Projects/GalleryAsBehaviourSetting/Miranda_image.png" width="361" height="305">
                </div>
                <div class="buttonOuter learnMore">
                    <button aria-label="Learn More" onclick="toggleProjectInfo('art_gallery')" class="inner"></button>
                </div>
            </div>
        </div>
        <div class="project" id="monkeys_in_space_intro">
            <img style="overflow: hidden; grid-column: 1 / span 5; grid-row: 1 / span 1"
                alt="Several vervets, one grooming another." class="parallax projectBackground"
                src="images\Home\Projects\MonkeysInSpace\img0369.png" width="1920" height="1080">
            <div class="projectInfo minimized right" id="monkeys_in_space">
                <div class="expand" onclick="toggleProjectInfo('monkeys_in_space')">
                    <div>&#10094;</div>
                </div>
                <div class="inner intro title" style="grid-column: span 4;">
                    <h1>
                        Monkeys in Space
                    </h1>
                    <p class="name"><a href="about#Peter_Henzi">Peter Henzi</a>, <a href="about#Louise_Barrett">Louise
                            Barrett</a></p>
                </div>
                <div class="inner intro hidden" style="grid-column: span 4;">
                    <p>
                        As long-lived, slowly reproducing animals, primates face numerous ecological challenges
                        to survival
                        and
                        successful reproduction. As group-living animals, the social world presents an equally
                        diverse array
                        of
                        challenges that require the negotiation of individual needs within the constraints
                        imposed by others.
                        Most
                        research aimed at defining and identifying the nature of primate social cognition has
                        focused on the
                        specific demands of the social world, and pays less attention to how environmental and
                        ecological
                        demands
                        interact with these.
                    </p>
                </div>
                <div class="inner hidden" style=" grid-column: 1 / span 4;">
                    <p>Our approach stresses that an animal's actions are structured, supported and constrained
                        by its
                        immediate local circumstances. It generates the broad proposition underpinning our
                        long-term research
                        program - that primate cognition is geared to enabling advantageous responses to current
                        contingencies. That is, they have been selected to exploit, as well as respond to, the
                        unpredictable
                        opportunities offered by both the physical (ecological) and social environments. Our
                        long-term intent
                        has been to bring these two perspectives together by considering how primates solve
                        ecological
                        problems in a social context. Most of our empirical work targets social dynamics and
                        group
                        coordination processes as instances of phenotypically plastic behaviours that have the
                        potential to
                        reveal both the scope and limits of flexible responses to environmental challenge.</p>

                </div>
                <div class="inner hidden"
                    style=" grid-column: 5 / span 2; grid-row: 2 / span 3; background-image: url('images/Home/Projects/MonkeysInSpace/img020.png')">
                    <img alt="Vervets coming down from a tree." src="images/Home/Projects/MonkeysInSpace/img020.png"
                        width="1920" height="1080">
                </div>
                <div class="inner hidden" style="grid-column: 1 / span 4;">
                    <p><b>Current Funding: </b>NSERC Discovery grants (LB, SPH), NSERC Canada Research Chairs
                        Program (LB),
                        NRF Incentive Fund (SPH).
                    </p>
                </div>
                <div class="inner hidden spacer"></div>
                <div class="inner hidden"
                    style=" grid-column: 1 / span 3; grid-row: span 3; background-image: url('images/Home/Projects/MonkeysInSpace/img320.png')">
                    <img alt="Vervets sitting in some grass." src="images/Home/Projects/MonkeysInSpace/img320.png"
                        width="1920" height="1080">
                </div>
                <div class="inner hidden" style=" grid-column: 4 / span 3; ">
                    <h2>The Thermal Competence Of Social Endotherms</h2>
                </div>
                <div class="inner hidden" style=" grid-column: 4 / span 3; ">
                    <p>In addition to these general topic areas, reflected in the projects of various lab
                        members, we began,
                        in 2010, a large collaborative project (Lethbridge, Witwatersrand, UNISA, Western
                        Australia,
                        Wisconsin-Madison) directed at identifying the consequences of obligatory sociality for
                        thermal
                        performance under changing climates. To do so, we have body temperature records at
                        five-minute
                        intervals
                        from known vervet monkeys in parallel with data on activity, social behaviour,
                        physiological stress,
                        spatial location and microclimate. This allows us to chart, not only individual
                        responses to local
                        conditions in both the short and long term, but also the ways in which group use of
                        space reflects a
                        compromise among a range of competing pressures, with differing outcomes for particular
                        individuals.
                        Active data collection ended in 2018 leaving a cumulative sample of approximately 140
                        monkey-years of
                        temperature data, by far the largest data set of its kind from any endotherm, over a
                        period that has
                        encompassed a complete drought cycle.</p>
                </div>
                <div class="inner hidden" style=" grid-column: 4 / span 3; ">
                    <p><b>Funding:</b> NSERC Discovery grant (SPH), NSERC CRC Program (LB), NRF Large
                        Competitive Grant
                        Program
                        awards
                        (SPH, Duncan Mitchell), Ernest Oppenheimer Fund (Duncan Mitchell), Carnegie Large
                        Research Grant
                        (Andrea
                        Fuller), Claude Leon Fellowship award and Wisconsin-Madison internal funds (Richard
                        McFarland).</p>
                </div>
                <div class="buttonOuter learnMore">
                    <button aria-label="Learn More" onclick="toggleProjectInfo('monkeys_in_space')"
                        class="inner"></button>
                </div>
            </div>
        </div>

        <div class="project" id="Life_History_Fertility_And_Reproductive_Investment_intro">
            <img alt="A baby vervet in a tree." class="parallax projectBackground"
                src="\images\Home\Projects\LifeHistoryFertilityAndReproductiveInvestment\img370.png" width="1920"
                height="1080">
            <div class="projectInfo minimized left" id="Life_History_Fertility_And_Reproductive_Investment">
                <div class="expand" onclick="toggleProjectInfo('Life_History_Fertility_And_Reproductive_Investment')">
                    <div>&#10094;</div>
                </div>
                <div class="inner intro title" style="grid-column: span 4;">
                    <h1>
                        Life History, Fertility And Reproductive Investment
                    </h1>
                    <p class="name"><a href="about#Peter_Henzi">Peter Henzi</a>, <a href="about#Louise_Barrett">Louise
                            Barrett</a> </p>
                </div>
                <div class="inner intro noExpand hidden" style="grid-column: span 4;">
                    <p>
                        <i>Life histories lie at the heart of biology; no other field brings you closer to the
                            underlying
                            simplicities that unite and explain the diversity of living things and the
                            complexities of their
                            life
                            cycles. Stearns (1992, p. 9)</i>
                    </p>
                    <p>Life history theory provides a robust evolutionary framework in which to situate studies
                        of human and
                        non-human primate reproductive and mortality schedules, in ways that also allow us to
                        make direct
                        comparisons with other species. In evolutionary terms, life history is the combination
                        of the
                        probabilities of survival and fecundity that a species displays in its natural
                        environment, and is
                        closely tied to the study of demography. In our work, we apply life history theory to
                        baboons and
                        vervet
                        monkeys, assessing how females trade-off risks of intrinsic and extrinsic mortality
                        against levels of
                        investment in offspring. We also study reproductive decision-making in life history
                        perspective in
                        contemporary human societies, looking at both industrialised and developing nations. We
                        are
                        particularly
                        interested in the process of demographic transition, factors influencing female
                        fertility in relation
                        to
                        household composition and social networks, how fertility intentions map onto
                        reproductive outcomes,
                        and
                        the question of whether fertility decisions continue to maximise fitness among human
                        populations.</p>
                </div>
                <div class="buttonOuter mobile learnMore">
                    <button aria-label="Learn More"
                        onclick="toggleProjectInfo('Life_History_Fertility_And_Reproductive_Investment')"
                        class="inner"></button>
                </div>
            </div>
        </div>
        <div class="project" id="Human_ethology_behaviour_in_natural_social_settings_Intro">
            <img alt="A vervet ITE." class="parallax projectBackground"
                src="\images\Home\Projects\HumanEthologyBehaviourInNaturalSocialSettings\img0298.png" width="1920"
                height="1080">
            <div class="projectInfo minimized right" id="Human_ethology_behaviour_in_natural_social_settings">
                <div class="expand" onclick="toggleProjectInfo('Human_ethology_behaviour_in_natural_social_settings')">
                    <div>&#10094;</div>
                </div>
                <div class="inner intro title" style="grid-column: span 4;">
                    <h1>
                        Human ethology: behaviour in natural social settings
                    </h1>
                    <p class="name"><a href="about#Peter_Henzi">Peter Henzi</a>, <a href="about#Louise_Barrett">Louise
                            Barrett</a> </p>
                </div>
                <div class="inner intro hidden noExpand" style="grid-column: span 4;">
                    <p>
                        How people respond to, and engage with, their environment under natural conditions is a
                        way to
                        understand the socially situated nature of cognition. In our work, we study the way
                        people engage with
                        the built environment in general, conducting naturalistic studies of parenting and play
                        behaviours, as
                        well as a current, more focused study investigating the art gallery as a behaviour
                        setting, with the
                        objective of understanding and enhancing people's engagement with art exhibits.
                    </p>
                </div>
                <div class="buttonOuter mobile learnMore">
                    <button aria-label="Learn More"
                        onclick="toggleProjectInfo('Human_ethology_behaviour_in_natural_social_settings')"
                        class="inner"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Current Projects Section -->