{% set currentProjects = craft.entries.section('project').all %}
{% if not currentProjects == null %}
  <section>
    <div class="sectionBannerText">
      <h1>
        Current Projects
      </h1>
    </div>
    <div class="currentProjects">
      
      {% for project in currentProjects %}
      <div id="{{project.slug}}">
        {{
          sprig(
            'modules/project',
            {
              projectID: project.id,
              projectSlug: project.slug
            }
          )
        }}
        <div>
        {# {{ sprig.script }} #}
      {% endfor %}
    </div>
  </section>
{% endif %}
<!-- End Current Projects Section -->
