{# {% set year = year ?? null %} #}
{% set visible = visible|default(false) %}
<div class="currentPublications">
  {# <div class="currentPublications"> #}
  {# {% if visible == true %} #}
  {% if not year == null %}
    {% set sectionPublications =
      craft.entries.section('publication').with(
        ['publicationCoverImage']
      ).relatedTo(
        year
      )
    %}
  {% endif %}
  {% if sectionPublications.count > 0 %}
    <script></script>
    {% for publication in sectionPublications.all() %}
      {{
        sprig(
          'modules/_publication',
          {
            publicationID: publication.id,
            publicationSlug: publication.slug
          }
        )
      }}
      {# {{ sprig.script }} #}
    {% endfor %}
  {% endif %}
</div>
