{% set publicationYears = craft.categories().group('publicationYear').all() %}

<div>
  {% for year in publicationYears %}
    {% set count =
      craft.entries.section('publication').with(
        ['publicationCoverImage']
      ).relatedTo(
        year
      ).count
    %}
    {% if count > 0 %}
      <section>
        <div style="margin-top: 0px;"
          class="sectionBannerText"
          id="{{ year.slug }}">
          <h1>
            {{ year }}
          </h1>
        </div>
        {{
          sprig(
            'modules/publicationsSectionComponent',
            {
              year: year.id
            }
          )
        }}
        {{ sprig.script }}
      </section>
    {% endif %}
  {% endfor %}
</div>
