{% set publicationYears = craft.categories().group('publicationYear').all() %}

<div>
  {% for year in publicationYears %}
    <section>
      <div style="margin-top: 0px;"
        class="sectionBannerText"
        id="{{ year.slug }}">
        <h1>
          {{ year }}
        </h1>
      </div>
      {{
        sprig(
          'modules/publicationsSectionComponent',
          {
            year: year.id
          }
        )
      }}
      {{ sprig.script }}
    </section>
  {% endfor %}
</div>
