{% set route = craft.app.request.url %}
{# Tell the browser to cache this page for 30 days #}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description"
        content="the banzi-lab is a research lab at the University of Lethbridge with a wide range of fields related to psychology." />
      <meta name="keywords"
        content="University of Lethbridge, research, psychology, biology, vervets, behavior, studies, animal-behaviour, Africa, South Africa, field sites, The Barrett-Henzi Lab, banzi-lab, Banzi-Lab, Banzi, The Banzi Lab, The Banzi-Lab, Peter Henzi, Louise Barrett, Lab" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap"
        rel="stylesheet" />
      <link rel="shortcut icon" href="assets/icons/favicon3/favicon.ico" />
      <title>
        The Banzi-Lab
      </title>
    {% endblock %}
  </head>
  <!-- On body load, run initialize script -->

  <body {{ attr(bodyAttributes ?? {}) }} class="preload" onload="initialize()">
    {% include 'modules/_header' with {
      route: route
    } %}
    {% block body %}

    {% endblock %}
    <footer>
      <div class="inner"></div>
    </footer>
    <script src="js/simpleParallax.js-master/simpleParallax.js-master/dist/simpleParallax.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/htmx.min.js" defer></script>
  </body>
</html>
