{% extends '_html5' %}

{% block body %}
  {{ parent() }}
  <div class="wrapper" id="wrapper">
    <h1 class="sectionTitle" id="Publications">
      Publications
    </h1>
    {{
      sprig(
        'modules/publicationsComponent',
        {
          _limit: 1,
          category: 'publicationYear'
        }
      )
    }}
    {{ sprig.script }}
  </div>
{% endblock %}
